# O Pandas
- https://pandas.pydata.org/

### O DataFrame no pandas
- https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html

In [1]:
# Importando o pandas
import pandas as pd

In [2]:
# Criando um DataFrame
# To manually store data in a table, create a DataFrame. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [5]:
# Verificando o DataFrame criado
# observe a diferença entre display e print (display disponivel apenas no jupyter)
display(df)

print(df)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [14]:
# Visualizando o tipo de dado
print(type(df),end='\n\n')

print(type(df['Age']),end='\n\n')

print(df.dtypes,end='\n\n')

print(df.info())

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.series.Series'>

Name    object
Age      int64
Sex     object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [19]:
# Visualizando apenas 1 coluna do DataFrame
# observe que quando separamos apenas UMA coluna do DataFrame ela se transforma em uma SERIES tendo outros atributos e metodos
print(df['Age'],end='\n\n')

# acessando apenas os indices da coluna
print(df['Age'].index,end='\n\n')

# acessando apenas os valores da coluna
print(df['Age'].values)

0    22
1    35
2    58
Name: Age, dtype: int64

<class 'pandas.core.series.Series'>

RangeIndex(start=0, stop=3, step=1)

[22 35 58]

In [20]:
# Visualizando o tipo de dado
# vendo o tipo da coluna (series)
print(type(df['Age']),end='\n\n')

<class 'pandas.core.series.Series'>

### Importando uma base de dados
- https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html
    - A base de dados está em: `titanic.csv`

In [1]:
# Importando o csv

In [2]:
# Visualizando a base

In [3]:
# Visualizando as primeiras linhas

In [4]:
# Visualizando as 8 primeiras linhas

In [5]:
# Obtendo o tipo dos dados

### Selecionando partes do DataFrame
- https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

In [7]:
# Selecionando apenas 1 coluna

In [8]:
# Selecionando 2 ou mais colunas

In [10]:
# Fazendo um filtro nas linhas

In [11]:
# Utilizando operadores lógicos no filtro

In [12]:
# Selecionando linhas e colunas específicas

In [13]:
# Substituindo valores

# Criando um plot
- https://pandas.pydata.org/docs/getting_started/intro_tutorials/04_plotting.html

In [14]:
# Criando um plot

In [15]:
# Fazendo um scatter plot

In [16]:
# Mostrando um boxplot